@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4F6; /* Gray 100 */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* 낙관적 UI 애니메이션 */
.vote-anim {
  transition: all 0.2s ease-out;
}
.vote-anim:active {
  transform: scale(0.95);
}