version: '3.8'
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: smart_admin
      POSTGRES_PASSWORD: inventory_pwd123
      POSTGRES_DB: smart_inventory
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://smart_admin:inventory_pwd123@db:5432/smart_inventory"
    depends_on:
      - db

volumes:
  postgres_data: