@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-gray-900 font-sans;
}

/* 모바일 터치 영역 최적화 */
button {
  @apply active:scale-95 transition-transform duration-150;
}