version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: smartstock_db
    environment:
      POSTGRES_DB: smartstock
      POSTGRES_USER: dev_admin
      POSTGRES_PASSWORD: dev_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  cache:
    image: redis:7-alpine
    container_name: smartstock_cache
    ports:
      - "6379:6379"

volumes:
  postgres_data: