name: MVP Deploy to AWS

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy files to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }} # usually 'ubuntu'
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "./"
        target: "/home/ubuntu/mvp-app"

    - name: Execute Remote SSH Commands
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          cd /home/ubuntu/mvp-app
          
          # 환경 변수 설정 (Production용)
          echo "REDIS_HOST=redis" > .env
          echo "DB_HOST=db" >> .env
          echo "DB_PASS=${{ secrets.DB_PASSWORD }}" >> .env
          
          # Docker 컨테이너 재실행
          sudo docker compose down
          sudo docker compose up -d --build
          
          # 시스템 정리
          sudo docker image prune -f