@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
}

body {
  background-color: #000000;
  color: #FFFFFF;
  margin: 0;
  overflow: hidden;
}